<div class="section footer wf-section">
  <div class="container">
    <div class="center-container dark"
      style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
      <h4 class="h4 white-footer">Get in touch</h4>
      <h2 class="h2 white">Let's have an incredible journey together!</h2>
      <div class="two-col-grid center"><a href="../../assets/MINJUN YOUN - RESUME.pdf" download class="primary-button w-button">Download Resume</a><a
          href="https://www.linkedin.com/in/minjun-youn-45007074/" target="_blank"
          class="secondary-button white w-button">Go to LinkedIn</a></div>
    </div>
  </div>
</div>
