<div data-w-id="f4aeb872-1126-de17-3398-172ec11f318a" data-animation="default" data-collapse="medium"
  data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navigation w-nav">
  <div class="navbar-container"><a href="/" aria-current="page" class="brand w-nav-brand w--current"
      aria-label="home"><img loading="lazy" src="../../assets/ant_man_icon.svg" alt="" class="logo-icon">
      <div class="logo-text">MINJUN YOUN</div>
    </a>
    <nav role="navigation" class="nav-menu w-nav-menu">
      <a href="/#About" class="nav-link w-nav-link">About</a>
      <a href="/#Recent-work" class="nav-link w-nav-link">Work</a>
      <div class="button-container"><a href="../../assets/MINJUN YOUN - RESUME.pdf" download class="primary-small-button left-padding w-button">Resume</a></div>
    </nav>
    <div class="menu-button w-nav-button" style="-webkit-user-select: text;" aria-label="menu" role="button"
      tabindex="0" aria-controls="w-nav-overlay-0" aria-haspopup="menu" aria-expanded="false">
      <div class="burger-icon">
        <div class="top-burger-line"></div>
        <div class="middle-burger-line"></div>
        <div class="bottom-burger-line"></div>
      </div>
    </div>
  </div>
  <div class="w-nav-overlay" data-wf-ignore="" id="w-nav-overlay-0"></div>
</div>